/*加入汇金行*/
.contact-r{
    display:inline-block;
    width:786px;
}
.joinHjh-banner{
    height:150px;
}
.work{
    background:#f5f5f6;
    margin:30px 0 4px 0;
    height:44px;
}
.work ul{
    border-radius:3px;
    width: 453px;
    float:left;
    position:relative;
}
.work ul li{
    float:left;
    border-right:1px solid #eee;
    width:200px;
    padding-left:15px;
    cursor:pointer;
    color: #999;
    height: 44px;
}
.work ul li.small{
    width:100px;
}
.work ul li.small.cur span.work-place{
    width:75px;
    background: url(../images/joinHjh-icon-down.png) no-repeat 72px center;
}
.work ul li.small span.work-place{
    background: url(../images/joinHjh-icon-up.png) no-repeat 72px center;
}
.work ul li span.work-place{
    width:180px;
    padding-right: 20px;
    background: url(../images/joinHjh-icon-up.png) no-repeat 180px center;
    display:inline-block;
    line-height:44px;
    height: 44px;
    overflow: hidden;
}
.work ul li.cur span.work-place{
    background: url(../images/joinHjh-icon-down.png) no-repeat 180px center;
}
.work ul li .city{
    width:597px;
    padding:30px 7px 0 50px;
    border:1px solid #d6d6d6;
    position:absolute;
    top:44px;
    left:0px;
    -moz-box-shadow:2px 2px 10px 2px #d6d6d6;
    -webkit-box-shadow:2px 2px 10px 2px #d6d6d6;
    box-shadow:2px 2px 10px 2px #d6d6d6;
    background:#fdfbfc;
    z-index: 10;
}
.work ul li.cur .city{
    display:none;
}
.work ul li .city span{
    display:inline-block;
    /*min-width: 86px;*/
    margin-bottom:25px;
    color:#2f2f2f;
    margin-right: 20px;
}
.work ul li .city span.noMargin{
    margin-right:0;
}
.work ul li .city span:hover{
    color:#0084ca;
}
.search-work{
    line-height:44px;
    background:#f5f5f6;

}
.search-work input{
    background:#f5f5f6;
    width:180px;
    float:left;
    margin:8px 0 0 15px;
    color: #999;
    line-height:25px;
    height:25px;
    outline: none;
    font-size: 14px;
}
.search-work span{
    display:inline-block;
    width:130px;
    background:#0084ca;
    color:#fff;
    text-align:center;
    border-top-right-radius:3px;
    border-bottom-right-radius:3px;
    cursor:pointer;
}
.work-warp{
    overflow: hidden;
    height:52px;
    line-height:52px;
}
.work-detail{
    color:#0084ca;
    width:100px;
    height:22px;
    cursor: pointer;
}
.hjh-work-detail ul li.detail-li{
    border-bottom:1px dashed #e4e4e4;
    margin-left:15px;
}
.detail-li .engineer{
    font-size:16px;
    color:#2f2f2f;
}
.detail-li .work-detail{
    background: url(../images/joinHjh-arrow-down.png) no-repeat right center;
    padding-left:10px;
   height:52px;
}
.detail-li .work-detail.current{
    background: url(../images/joinHjh-arrow-up.png) no-repeat right center;
    padding-left:10px;
}
.detail-li .work-con{
    display:block;
    margin-bottom:8px;
}
.detail-li.current .work-con{
    display:block;
}
.work-txt{
    margin-top:25px;
}
.work-txt span{
    margin-bottom:5px;
    display:block;
    color:#7e7e7e;
}
.work-txt{
    font-size:14px;
    color:#7e7e7e;
    line-height: 26px;
}
.join-way{
    margin-top:25px;
}
.join-way ul li{
    color:#5a5959;
    line-height:26px;
}
.contact-way{
    display:none;
}
.contact-wrap{
    overflow: hidden;
    height:45px;
    background:#f5f5f6;
    padding:12px 14px 15px 14px;
}
.contact-way span{
    font-size:16px;
    color:#2f2f2f;
    margin:2px 0;
    display:inline-block;
}
.contact-way ul li{
    float:left;
    color:#7e7e7e;
    margin-right:34px;
}
.contact-way i{
    display:block;
    width:10px;
    height:7px;
    background: url(../images/joinway-bg-arrow.png) no-repeat;
    position:relative;
    left:35px;
    top:0;
    z-index: 1;
}
.fr {
    float: right;
}