@charset "utf-8";
.hidden-html{overflow:hidden;}
body {
    font-family:'PingFangSC-Light','Microsoft Yahei',Arial,Helvetica,sans-serif;
    color: #383838;
}
html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
ul,li{list-style: none; margin: 0; padding: 0px;}
p{padding: 0; margin: 0;}
div,img,dl{vertical-align: top; outline:none;}
a,input,button,select,textarea{ outline:none;}
input{margin: 0;}
em,i{font-style: normal; }
.clear{ clear:both; height:0; font-size:0; overflow:hidden; width:100%;}

.nav-header-bot{
    width: 100%;
    border-bottom: 2px solid #6DB53E;
    background:#fff;
}
.nav-width-bot{
    width: 1000px;
    margin: 0 auto;
    height: 90px;
}
.nav-width-bot .logo{
    float: left;
    vertical-align: middle;
    padding-top: 22px;
}
.nav-width-bot .logo img{
    width: 98px;
    vertical-align: middle;
}
.nav-width-bot .nav-link{
    float: right;
}
.nav-width-bot .nav-link ul li{
    float: left;
    padding: 34px 22px 0;
    font-size: 16px;
}
.nav-width-bot .nav-link a{
    text-decoration: none;
    color:#757575;
}
.nav-width-bot .nav-link a:hover{
    color:#6DB53E;
    text-decoration: none;
}
.nav-width-bot .nav-link .acitve a{
    color:#6DB53E;
}

.recruit-bg{
    background: #FBF2E2;
}
.subject-pul{
    width: 100%;
    position: relative;
}
.subject{
    padding: 110px 0 30px;
    width: 1000px;
    margin: 0 auto;
    position: relative;
}
.main{
    text-align: center;
}
.sunlight{
    position: absolute;
    top: 30px;
    left: 15px;
}
.yun-a{
    position: absolute;
    top: 92px;
    left: -10px;
}
.yun-b{
    position: absolute;
    top: 100px;
    right: 5px;
}
.dove-x{
    position: absolute;
    top: 180px;
    left: -45px;
}
.dove-d{
    position: absolute;
    top: 175px;
    left: 25px;
}
.feichuan{
    position: absolute;
    top: 170px;
    right: -70px;
}
.balloon{
    position: absolute;
    top: 295px;
    right: -50px;
}
.people-5{
    position: absolute;
    top: 370px;
    right: 335px;
}
.people-1{
    position: absolute;
    top: 420px;
    left: -25px;
}
.people-1 .text{
    position: absolute;
    top: 122px;
    left: 10px;
}
.people-1 .people-block{
    position: absolute;
    top: -105px;
    left: 30px;
}
.people-2{
    position: absolute;
    top: 515px;
    left: 210px;
    z-index: 10;
}
.people-2 .text{
    position: absolute;
    top: 112px;
    left: 0;
}
.people-2 .people-block{
    position: absolute;
    top: -114px;
    left: 40px;
}
.people-3{
    position: absolute;
    top: 545px;
    right: 130px;
    z-index: 10;
}
.people-3 .text{
    position: absolute;
    top: 86px;
    right: 5px;
}
.people-3 .people-block{
    position: absolute;
    top: -100px;
    left: 80px;
}
.people-4{
    position: absolute;
    top: 420px;
    right: -65px;
}
.people-4 .text{
    position: absolute;
    top: 86px;
    left: 8px;
}
.people-4 .people-block{
    position: absolute;
    top: -80px;
    left: 5px;
}

.cloud-bot-1{
    background: url(../images/cloud-bot-1.png) no-repeat center top;
    width: 100%;
    height: 156px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 20;
    text-align: center;
    color: #fff;
    font-size: 16px;
    padding-top: 120px;
}
.cloud-bot-2{
    background: url(../images/cloud-bot-2.png) no-repeat center top;
    width: 100%;
    height: 257px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}
.yun-a{
    -webkit-animation:yun1 2.2s .2s linear infinite;
    -moz-animation:yun1 2.2s .2s linear infinite;
    -ms-animation:yun1 2.2s .2s linear infinite;
}
@-webkit-keyframes yun1{
    0%{left:-10px;}
    50%{left:-20px;}
    100%{left:-10px;}
}
@-moz-keyframes yun1{
    0%{left:-10px;}
    50%{left:-20px;}
    100%{left:-10px;}
}
@-ms-keyframes yun1{
    0%{left:-10px;}
    50%{left:-20px;}
    100%{left:-10px;}
}

.yun-b{
    -webkit-animation:yun2 2.5s .2s linear infinite;
    -moz-animation:yun2 2.5s .2s linear infinite;
    -ms-animation:yun2 2.5s .2s linear infinite;
}
@-webkit-keyframes yun2{
    0%{right:5px;}
    50%{right:20px;}
    100%{right:5px;}
}
@-moz-keyframes yun2{
    0%{right:5px;}
    50%{right:20px;}
    100%{right:5px;}
}
@-ms-keyframes yun2{
    0%{right:5px;}
    50%{right:20px;}
    100%{right:5px;}
}

.none{
    border: 0;
}

.Bitmap-a{
    background: url(../../images/job.jpg) no-repeat center top;
    height: 300px;
}
.mian-all{
    width: 1000px;
    margin: 50px auto 30px;
}
.mian-left{
    width: 160px;
    float: left;
}
.mian-nav ul li{
    text-align: center;
    font-size: 18px;
    line-height: 46px;
    margin-bottom: 5px;
}
.mian-nav ul li a{
    color: #383838;
    text-decoration: none;
}
.mian-nav ul li a:hover{
    color: #6DB53E;
    text-decoration: underline;
}
.mian-nav ul li.active{
    background: #6DB53E;
}
.mian-nav ul li.active a{
    color: #fff;
    text-decoration: none;
}
.mian-nav ul li.active a:hover{
    color: #fff;
    text-decoration: underline;
}
.mian-right{
    width: 800px;
    float: right;
}
.post-list{
    width: 100%;
    padding: 0;
}
.post-list .thead{
    height: 46px;
    line-height: 46px;
    background: #F2F2F2;
    font-size: 16px;
}
.post-list .thead .a{
    width: 220px;
    text-align: center;
    float: left;
}
.post-list .thead .b{
    width: 140px;
    text-align: center;
    float: left;
}
.post-list .thead .c{
    width: 140px;
    text-align: center;
    float: left;
}
.post-list .thead .d{
    width: 140px;
    text-align: center;
    float: left;
}
.post-list .thead .e{
    width: 160px;
    text-align: center;
    float: left;
}
.post-list ul{
    padding: 15px 0;
}
.post-list ul li{
    height: 44px;
    line-height: 44px;
}
.post-list ul li .lat-1{
    width: 220px;
    float: left;
    text-indent: 5px;
}
.post-list ul li .lat-2{
    width: 140px;
    text-align: center;
    float: left;
}
.post-list ul li .lat-3{
    width: 140px;
    text-align: center;
    float: left;
}
.post-list ul li .lat-4{
    width: 140px;
    text-align: center;
    float: left;
}
.post-list ul li .lat-5{
    width: 160px;
    text-align: center;
    float: left;
}
.post-list ul li a{
    color: #383838;
    text-decoration: none;
}
.post-list ul li a:hover{
    color: #6DB53E;
    text-decoration: underline;
}

/*.footer{*/
    /*width: 100%;*/
    /*height: 80px;*/
    /*line-height: 80px;*/
    /*background: #E8E8E8;*/
    /*text-align: center;*/
    /*margin-top: 20px;*/
/*}*/

.post-js{
    width: 1000px;
    margin: 0 auto;
    padding-bottom: 50px;
}
.post-js .title{
    margin-top: 40px;
    font-size: 24px;
}
.post-js .title span{
    background: #4ACB81;
    width: 4px;
    height: 23px;
    float: left;
    margin: 5px 10px 0 0;
}
.post-js .place{
    padding: 15px 0;
    font-size: 16px;
}
.post-js .info-text{
    line-height: 2.6;
    position: relative;
}
.post-js .deliver{
    position: absolute;
    right: 0;
    bottom: 0;
}
.post-js .deliver a{
    width: 150px;
    height: 46px;
    display: inline-block;
    background: #3FBE79;
    color: #fff;
    border-radius: 4px;
    font-size: 16px;
    line-height: 46px;
    padding-left: 28px;
    text-decoration: none;
}
.post-js .deliver a:hover{
    background: #30aa68;
    color: #fff;
    text-decoration: none;
}
.post-js .deliver a span{
    float: right;
    padding: 13px 30px 0 0;
}

.problem{
    width: 100%;
    padding-bottom: 30px;
}
.problem-list{
    padding-bottom: 12px;
}
.problem-list .rubric{
    height: 45px;
    background: #F8F4E7;
    font-size: 16px;
    cursor: pointer;
}
.problem-list .rubric .left{
    float: left;
    line-height: 45px;
    padding-left: 12px;
}
.problem-list .rubric .right{
    float: right;
    background: url(../../images/ub-arrow.png) no-repeat;
    background-size: 18px 8px;
    width: 18px;
    height: 8px;
    margin: 19px 12px 0 0;
}
.problem-list .rubric .right-up{
    background: url(../../images/up-arrow.png) no-repeat;
    background-size: 18px 8px;
}
.problem-list .answer{
    padding: 15px 12px 12px 12px;
    line-height: 1.8;
    display: none;
}

.flow{
    padding-bottom: 30px;
}
.flow .title{
    text-align: center;
    color: #757575;
    font-size: 18px;
}
.flow .title span{
    color: #383838;
    font-size: 22px;
}
.flow .info-img{
    padding: 40px 0 30px 20px;
}

.Bitmap-b{
    background: url(../images/Bitmap-02.jpg) no-repeat center top;
    height: 360px;
}
.heat-tit{
    width: 1000px;
    margin: 0 auto;
    color: #fff;
    font-size: 32px;
    padding-top: 140px;
}
.heat-tit span{
    font-size: 48px;
}


.mc-company{
    width: 600px;
    margin: 0 auto;
    padding-bottom: 30px;
}
.suggest{
    width: 100%;
}
.suggest .title{
    color: #37B59E;
    font-size: 20px;
    text-align: center;
    line-height: 1.7;
}
.suggest .title span{
    font-size: 24px;
}
.suggest .info{
    padding-top: 20px;
    color: #403F41;
    line-height: 1.7;
}
.team-awp{
    width: 100%;
    margin-top: 50px;
}
.team-awp .people{
    border:1px solid #38B7A0;
    border-radius:100px;
    width:310px;
    height:52px;
    font-size: 20px;
    text-align: center;
    line-height: 50px;
    color: #757575;
    margin: 0 auto;
}
.team-awp .people span{
    color: #38B59E;
}
.team-awp .ceo-cto{
    margin-top: 5px;
    line-height: 1.5;
}
.team-awp .ceo-cto p{
    padding-top: 20px;
}
.team-awp .ceo-cto span{
    font-size: 20px;
}
.history{
    width: 100%;
    margin-top: 50px;
}
.history h3{
    margin: 0;
    padding: 0;
    font-size: 18px;
    text-align: center;
}
.history h3 span{
    font-size: 24px;
    color: #39B7A0;
}
.history .course{
    width: 550px;
    margin-top: 30px;
    background: url(../images/line.png) no-repeat 150px 6px;
    background-size: 10px;
    display: inline-block;
}
.history .conspan{
    width: 100%;
    padding-bottom: 43px;
    display: inline-block;
}
.history .padg-bot{
    padding-bottom: 21px;
}
.history .none{
    padding-bottom: 0;
}
.history .conspan .year{
    float: left;
    font-size: 18px;
    color: #39B7A0;
    padding-right: 20px;
}
.history .conspan .month-info{
    float: left;
    width: 440px;
}
.history .conspan .month{
    float: left;
    line-height: 1.7;
    margin-right: 50px;
    padding-top: 2px;
    width: 30px;
    text-align: center;
}
.history .conspan .info{
    width: 350px;
    float: left;
    padding-top: 2px;
    line-height: 1.7;
}
.history .conspan .p-a{
    padding-top: 13px;
    display: inline-block;
}
.history .conspan .p-b{
    padding-top: 10px;
    display: inline-block;
}
.history .conspan .p-c{
    padding-top: 14px;
    display: inline-block;
}


.idea{
    width: 100%;
    padding-bottom: 35px;
}
.idea .info{
    padding: 42px 5%;
}
.idea .info .name{
    text-align: center;
    font-size: 20px;
}
.idea .info .text{
    padding-top: 18px;
    color: #7a7a7a;
}
.idea .meicai-three{
    width: 100%;
    display: inline-block;
}
.idea .block{
    width: 230px;
    float: left;
    height: 240px;
    margin-right: 30px;
}
.idea .block .title{
    border-radius:58px;
    width:120px;
    height:40px;
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-size: 20px;
    margin: 20px auto 0;
}
.idea .block .present{
    padding: 0 16px;
    display: table;
    height: 180px;
    width: 100%;
}
.idea .block .present p{
    display: table-cell;
    vertical-align: middle;
    line-height: 2;
}
.idea .sm{
    background: #f7faff;
}
.idea .sm .present{
    font-size: 16px;
    text-align: center;
}
.idea .sm .title{
    background-image:linear-gradient(90deg, rgba(131,182,241,0.75) 3%, #458de5 100%);
}
.idea .yj{
    background: #f4fcf8;
}
.idea .yj .present{
    font-size: 14px;
}
.idea .yj .title{
    background-image:linear-gradient(90deg, rgba(118,215,159,0.72) 3%, #4ac984 100%);
}
.idea .jzg{
    margin-right: 0;
    background: #fff8f8;
}
.idea .jzg .present{
    font-size: 13px;
}
.idea .jzg .title{
    width: 148px;
    background-image:linear-gradient(90deg, rgba(255,127,127,0.63) 3%, #ff7f7f 100%);
}
.idea .character{
    padding-top: 55px;
    text-align: center;
}
.idea .character .alt-name{
    font-size: 20px;
}
.idea .character .alt-text{
    padding-top: 25px;
    line-height: 2;
    color: #757575;
}

.interaction{
    width: 650px;
    float: right;
    padding-bottom: 40px;
}
.interaction dl{
    width: 300px;
    float: left;
}
.interaction dl dd{
    padding-top: 8px;
}
.interaction ul{
    clear: both;
    padding-top: 30px;
    width: 100%;
    display: inline-block;
}
.interaction ul li{
    width: 300px;
    float: left;
    line-height: 40px;
}
.interaction ul li a{
    color: #383838;
    text-decoration: none;
}
.interaction ul li a:hover{
    color: #6DB53E;
    text-decoration: underline;
}
.interaction ul li.icon-a{
    background: url(../images/icon-1.png) no-repeat left center;
    background-size: 23px 23px;
    padding-left: 33px;
}
.interaction ul li.icon-b{
    background: url(../images/icon-2.png) no-repeat left center;
    background-size: 23px 23px;
    padding-left: 33px;
}
.interaction ul li.icon-c{
    background: url(../images/icon-3.png) no-repeat left center;
    background-size: 23px 23px;
    padding-left: 33px;
}


.Bitmap-c{
    background: url(../images/Bitmap-03.jpg) no-repeat center top;
    height: 360px;
}
.life-info {
    padding-bottom: 40px;
    border-bottom: 1px dashed #979797;
    margin-bottom: 40px;
}
.life-info .head{
    width: 100%;
    display: inline-block;
}
.life-info .head .left{
    width: 70%;
    float: left;
    line-height: 1.8;
    font-size: 16px;
}
.life-info .head .right{
    background: url(../images/name-bg-1.png) no-repeat;
    background-size: 130px 38px;
    width: 130px;
    height: 38px;
    float: right;
    color: #fff;
    padding-left:48px;
    line-height: 38px;
    font-size: 16px;
}
.life-info .head .pag-left{
    padding-left:39px;
}
.life-info .life-photo{
    width: 100%;
    margin-top: 26px;
}
.life-info .head .act-yeas{
    background: url(../images/name-bg-2.png) no-repeat;
    background-size: 133px 38px;
    width: 133px;
    height: 38px;
    float: left;
}
.life-info .head .staff{
    background: url(../images/name-bg-3.png) no-repeat;
    background-size: 128px 38px;
    width: 128px;
    height: 38px;
    padding-left:44px;
}

.life-info .head .commonweal{
    background: url(../images/name-bg-4.png) no-repeat;
    background-size: 132px 38px;
    width: 132px;
    height: 38px;
    float: left;
    color: #fff;
    padding-left:48px;
    line-height: 38px;
    font-size: 16px;
}
.life-info .head .website{
    float: right;
    padding: 18px 10px 0 0;
}
.life-info .head .website a{
    color: #383838;
    text-decoration: none;
}
.life-info .head .website a:hover{
    color: #6DB53E;
    text-decoration: underline;
}
.none-bot{
    border-bottom: 0;
}

.pullulate{
    width: 700px;
    margin: 0 auto;
    padding-bottom: 50px;
}
.pullulate .major{
    text-align: center;
    line-height: 1.8;
}
.pullulate .picture{
    margin-top: 20px;
    text-align: center;
}
.pullulate .picture img{
    margin: 5px 0;
}
.pullulate-list{
    margin-top: 40px;
    text-align:center;
}
.pullulate-list .title{
    color: #3FBE79;
    font-size: 20px;
}
.pullulate-list .text-sue{
    padding: 20px 0;
    line-height: 1.8;
}
.pullulate-list .late-info{
    margin-top: 15px;
}
