*{margin:0; padding:0;}
html,body{ width:100%; background: #fff; height: 100%;}
body,button,input,select,textarea{font:14px/1.5 'PingFangSC-Light','Microsoft Yahei',Arial,Helvetica,sans-serif;color:#333}
img{width:100%; max-width:100%; vertical-align:top; outline:none;}
a,input,button{ outline:none;}
a,a:hover{color:#0749d1;text-decoration:none}
a:hover{text-decoration:none}
ul,li{list-style: none;}
.clear{ clear:both; height:0; font-size:0; overflow:hidden; width:100%;}

.warp{
    max-width: 750px;
    margin: 0 auto;
}

.logo-nav{
    width: 100%;
    background: #fff;
    position: fixed;
    z-index: 100;
    height: 50px;
    top: 0;
    left: 0;
    margin: 0 auto;
    box-shadow: 0 2px 4px rgba(170,170,170,.5);
}
.logo-nav .logo{
    float: left;
    width: 60px;
    padding: 12px 0 0 15px;
}
.logo-nav .nav-icon{
    float: right;
    width: 22px;
    padding: 17px 15px 0 0;
}

.menu-nav{
    width: 100%;
    background: #fff;
    position: fixed;
    z-index: 90;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0 auto;
    display: none;
}
.menu-nav .logo{
    float: left;
    width: 60px;
    padding: 12px 0 0 15px;
}
.menu-nav .nav-close{
    float: right;
    width: 18px;
    padding: 15px 17px 0 0;

}
.sum-ment{
    clear: both;
    position: fixed;
    z-index: 95;
    top: 50px;
    left: 0;
    padding: 10% 0;
    width: 100%;
    text-align: center;
    font-size: 18px;

}
.sum-ment li a{
    display: block;
    padding: 4% 0;
    color: #727272;
}
.sum-ment li a:hover{
    color: #727272;
}

/*--棣栭〉--*/

.home-warp{
    height: 100%;
    position: relative;
}
.home-page-one{
    /*background: url(../../images/home-page-1.jpg) no-repeat left top;*/
    height: 100%;
    /*background-size: 100%;
    background-attachment: fixed;
    position: relative;*/
}

body.height-all:before {
    content: ' ';
    position: fixed;
    z-index: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url(../../images/home-page-1.jpg) no-repeat left top;
    background-size: 100%;
}

.app-down{
    padding-top: 50%;
}
.app-down .app-icon{
    width: 30%;
    margin: 0 auto;
}
.app-down .title{
    width: 88%;
    margin: 0 auto;
    padding-top: 2%;
}
.lj-down{
    padding-top: 8%;
}
.lj-down a{
    width: 35%;
    margin: 0 auto;
    border: 1px solid #fff;
    display: block;
    border-radius: 3px;
    padding: 1.5% 0;
    color: #fff;
    text-align: center;
}
.down-arrow{
    width: 6%;
    position: absolute;
    left: 47%;
    bottom: 3.5%;
    -webkit-animation:arrow 2s ease infinite;
    -moz-animation:arrow 2s ease infinite;
}
/*arrow 鍔ㄧ敾*/

@-webkit-keyframes arrow{
    0%{opacity:0;-webkit-transform:translate3d(0, -6px, 0);-webkit-transform:translate3d(0, -6px, 0);transform:translate3d(0, -6px, 0);}
    50%{opacity:1;-webkit-transform:translate3d(0, 0, 0);-webkit-transform:translate3d(0, 0, 0);transform:translate3d(0, 0, 0);}
    100%{opacity:0;-webkit-transform:translate3d(0, 6px, 0);-webkit-transform:translate3d(0, 6px, 0);transform:translate3d(0, 6px, 0);}
}
@-moz-keyframes arrow{
    0%{opacity:0;-moz-transform:translate3d(0, -6px, 0);-moz-transform:translate3d(0, -6px, 0);transform:translate3d(0, -6px, 0);}
    50%{opacity:1;-moz-transform:translate3d(0, 0, 0);-moz-transform:translate3d(0, 0, 0);transform:translate3d(0, 0, 0);}
    100%{opacity:0;-moz-transform:translate3d(0, 6px, 0);-moz-transform:translate3d(0, 6px, 0);transform:translate3d(0, 6px, 0);}
}



.home-page-two{
    padding: 10% 4%;
    background: #fff;
}
.home-page-two .title{
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    color: #FF7800;
}
.home-page-two .title span{
    color: #403F41;
    padding-right: 8px;
}
.home-page-two .fu-title{
    text-align: center;
    padding-top: 10px;
}
.home-page-two .picture{
    margin-top: 20px;
}
.home-page-two ul{
    width: 100%;
    padding-top: 5px;
}
.home-page-two ul li{
    margin-top: 18px;
    font-size: 15px;
}
.home-page-two ul li .left{
    padding-left: 24px;
    color: #FF6200;
    font-size: 18px;
}
.home-page-two ul li .a{
    background: url(../../images/mc-cg-icon-1.png) no-repeat left;
    background-size: 16px;
}
.home-page-two ul li .b{
    background: url(../../images/mc-cg-icon-2.png) no-repeat left;
    background-size: 16px;
}
.home-page-two ul li .c{
    background: url(../../images/mc-cg-icon-3.png) no-repeat left;
    background-size: 16px;
}

.home-page-two ul li .right{
    padding-left: 12px;
}

.home-page-three{
    padding: 10% 4%;
    background: #F2F2F2;
}
.home-page-three .title{
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    color: #5CB85C;
}
.home-page-three .title span{
    color: #403F41;
    padding-right: 8px;
}
.home-page-three .fu-title{
    text-align: center;
    padding-top: 10px;
}
.home-page-three .picture{
    margin-top: 20px;
}
.home-page-three ul{
    width: 100%;
    padding-top: 5px;
}
.home-page-three ul li{
    margin-top: 18px;
    font-size: 15px;
}
.home-page-three ul li .left{
    padding-left: 24px;
    color: #5CB85C;
    font-size: 18px;
}
.home-page-three ul li .a{
    background: url(../../images/mc-sh-icon-1.png) no-repeat left;
    background-size: 16px;
}
.home-page-three ul li .b{
    background: url(../../images/mc-sh-icon-2.png) no-repeat left;
    background-size: 16px;
}
.home-page-three ul li .c{
    background: url(../../images/mc-sh-icon-3.png) no-repeat left;
    background-size: 16px;
}

.home-page-three ul li .right{
    padding-left: 12px;
}
.home-page-four{
    position: relative;
    z-index: 1;
}
.home-page-four .gy-text{
    position: absolute;
    bottom: 29.5%;
    left: 10%;
    width: 80%;
}
.home-page-four .gy-links{
    position: absolute;
    bottom: 10%;
    left: 37%;
    width: 26%;
}
.home-page-four .gy-links a{
    display: block;
    width: 100%;
    background: #FBB131;
    text-align: center;
    color: #fff;
    padding: 5% 0;
    border-radius: 3px;
    font-size: 15px;
}
.home-code-wit{
    background: #383838;
    padding: 2% 10% 0 10%;
}
.home-code{
    border-bottom: 1px solid #9B9B9B;
    padding: 10% 0;
    font-size: 0;
}
.home-code dl{
    float: left;
    width: 24%;
    font-size: 14px;
    color: #fff;
    text-align: center;
    margin-right: 14%;
}
.home-code dl:nth-child(3){
    margin-right: 0;
}
.home-code dl dd{
    padding-top: 10px;
}

/*--鍏徃浠嬬粛--*/
.profile{
    padding: 5%;
    margin-top: 50px;
}
.profile .title,.honor .title,.history .title{
    margin-top: 5px;
    background: url(../../images/news-icon.png) no-repeat left center;
    background-size: 22px;
    font-size: 18px;
    font-weight: bold;
    padding-left: 29px;
}

.profile .info-text{
    margin-top: 12px;
    color: #403F41;
    line-height: 1.7;
}
.honor{
    margin-top: 12px;
    padding: 5%;
    background: #F8F8F8;
}
.honor ul{
    font-size: 0;
    padding: 4% 0 2%;
}
.honor ul li{
    width: 47%;
    display: inline-block;
    padding: 2% 6% 2% 0;
}
.honor ul li:nth-child(even){
    padding-right: 0;
}
.history{
    padding: 5% 5% 1% 5%;
    margin-top: 12px;
}
.hist-year{
    margin-top: 60px;
    position: relative;
}
.hist-year ul{
    background: url(http://m.meicai.cn/img/history-line.png) no-repeat 45px 10px;
    background-size: 1px;
    font-size: 0;
}
.hist-year ul li{
    width: 100%;
    display: inline-block;
    font-size: 15px;
    padding-bottom: 20px;
}
.hist-year ul li .month{
    width: 70px;
    float: left;
    background: url(http://m.meicai.cn/img/history-line.png) no-repeat 39px 5px;
    background-size: 13px;
    color: #757575;
}
.hist-year ul li .text{
    float: left;
    width: 78%;
}
.hist-year ul li .text em{
    font-style: normal;
    padding-top: 10px;
    display: block;
}

.hist-year ul li:nth-child(2){
    padding-bottom: 60px;
}

.hist-year p{
    position: absolute;
    border: 1px solid #45BA77;
    color: #45BA77;
    padding: 2px 8px;
    border-radius: 3px;
    font-size: 16px;
    background: #fff;
}
.hist-year p.year-a{
    top: -5%;
    left: 0px;

}
.hist-year p.year-b{
    top: 53%;
    left: 0;
}
.hist-year p.year-c{
    top: 84%;
    left: 0;
}

/*iphone5*/
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px) {
    .hist-year ul li .text{
        float: left;
        width: 74%;
        font-size: 13px;
    }
    .home-page-two ul li{
        margin-top: 18px;
        font-size: 13px;
    }
    .home-page-two ul li .left{
        padding-left: 24px;
        color: #FF6200;
        font-size: 16px;
    }
    .home-page-three ul li{
        margin-top: 18px;
        font-size: 13px;
    }
    .home-page-three ul li .left{
        padding-left: 24px;
        color: #5CB85C;
        font-size: 16px;
    }
    .hist-year p.year-a{
        top: -5%;
        left: 0px;

    }
    .hist-year p.year-b{
        top: 49.5%;
        left: 0;
    }
    .hist-year p.year-c{
        top: 84%;
        left: 0;
    }
}
/*iphone6*/
@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px){
    .hist-year ul li .text{
        float: left;
        width: 78%;
        font-size: 14px;
    }
    .home-page-two ul li{
        margin-top: 18px;
        font-size: 15px;
    }
    .home-page-two ul li .left{
        padding-left: 24px;
        color: #FF6200;
        font-size: 18px;
    }
    .home-page-three ul li{
        margin-top: 18px;
        font-size: 15px;
    }
    .home-page-three ul li .left{
        padding-left: 24px;
        color: #5CB85C;
        font-size: 18px;
    }
    .hist-year p.year-a{
        top: -5%;
        left: 0px;

    }
    .hist-year p.year-b{
        top: 53%;
        left: 0;
    }
    .hist-year p.year-c{
        top: 84%;
        left: 0;
    }
}

/*iphone6 plus*/
@media only screen
and (min-device-width: 414px)
and (max-device-width: 736px){
    .hist-year ul li .text{
        float: left;
        width: 78%;
        font-size: 15px;
    }
    .home-page-two ul li{
        margin-top: 18px;
        font-size: 16px;
    }
    .home-page-two ul li .left{
        padding-left: 24px;
        color: #FF6200;
        font-size: 20px;
    }
    .home-page-three ul li{
        margin-top: 18px;
        font-size: 16px;
    }
    .home-page-three ul li .left{
        padding-left: 24px;
        color: #5CB85C;
        font-size: 20px;
    }
    .hist-year p.year-a{
        top: -5%;
        left: 0px;

    }
    .hist-year p.year-b{
        top: 52.5%;
        left: 0;
    }
    .hist-year p.year-c{
        top: 84%;
        left: 0;
    }
}

.team{
    background: url(../../images/team.png) no-repeat left top;
    background-size: 100%;
}
.team .title{
    margin-top: 5px;
    background: url(../../images/news-icon.png) no-repeat 15px center;
    background-size: 22px;
    font-size: 18px;
    font-weight: bold;
    padding: 5% 5% 4% 44px;
}

.team .ceo{
    width: 100%;
}
.team .present{
    padding: 5%;
}
.team .present p{
    width: 88%;
    margin: 3px auto;
    text-align: center;
    border: 1px solid #4ACB81;
    display: block;
    padding: 7px 0;
    font-size: 18px;
    border-radius: 30px;
}
.team .present p span{
    color: #4ACB81;
}
.team .present .text{
    margin: 18px 0 8px;
}
.idea{
    margin-top: 8px;
}
.idea .title{
    margin-top: 5px;
    background: url(../../images/news-icon.png) no-repeat 15px center;
    background-size: 22px;
    font-size: 18px;
    font-weight: bold;
    padding: 5% 5% 4% 44px;
}
.idea .promise{
    padding: 2% 5% 7% 5%;
}
.idea .promise p{
    font-size: 17px;
    text-align: center;
    color: #4ACB81;
}
.idea .promise p span{
    font-size: 20px;
}
.idea .promise .info{
    margin-top: 6%;
    line-height: 1.6;
}
.mission{
    background: #f8f8f8;
    padding: 0 5%;
}
.mission .mc-block{
    padding: 12% 0;
    border-bottom: 1px dashed #b4c6bc;
    font-size: 16px;
}
.mission .none{
    border-bottom: 0;
}
.mission .mc-block .name{
    text-align: center;
}
.mission .mc-block .name span{
    color: #9ABBA8;
    border: 1px solid #9ABBA8;
    display: inline-block;
    padding: 3px 15px;
    border-radius: 3px;
}
.mission .mc-block .sm span{
    color: #fff;
    border: 1px solid #74A8D8;
    background: #55B3FF;
}
.mission .mc-block .yj span{
    color: #fff;
    border: 1px solid #64AE83;
    background: #4FBF97;
}
.mission .mc-block .jzg span{
    color: #fff;
    border: 1px solid #D97070;
    background: #F18181;
}
.mission .mc-block .info{
    padding-top: 8%;
    text-align: center;
    color: #403F41;
    line-height: 1.7;
}

.dream{
    padding: 5%;
}
.dream p{
    margin-top: 5px;
    background: url(../../images/news-icon.png) no-repeat left center;
    background-size: 23px;
    font-size: 20px;
    font-weight: bold;
    padding-left: 30px;
}
.dream .info{
    padding: 4% 0;
    line-height: 1.7;
}

.footer{
    background: #383838;
    color: #9B9B9B;
    font-size: 12px;
    padding: 5% 0 6%;
    line-height: 2;
    text-align: center;
    vertical-align: top;
}
.footer a{
    color: #9B9B9B;
}
.footer .xin{
    width: 22%;
    margin: 8px auto 0;
}


/*--缇庤彍璧勮--*/
.body-bg{
    background: #EBEBEB;
}
.mc-zx-block{
    padding: 5%;
    margin-top: 50px;
}
.mc-zx-block .title{
    background: url(../../images/news-icon.png) no-repeat left center;
    background-size: 22px;
    font-size: 18px;
    text-indent: 30px;
}
.new-pusl{
    margin-top: 10px;
    border: 1px solid #C3C3C3;
    border-radius: 5px;
    background: #fff;
}
.mc-zx-block dl{
    padding: 10px;
}
.mc-zx-block dl dt{
    position: relative;
}
.mc-zx-block dl dt span{
    position: absolute;
    left: 0;
    bottom: 0;
    color: #fff;
    padding: 0 2% 5px;
    font-size: 16px;
    line-height: 1.4;
}
.mc-zx-block dl dd{
    padding-top: 4%;
    color: #757575;
    line-height: 1.7;
}
.mc-zx-block ul{
    padding: 0 10px 5px 10px;
}
.mc-zx-block ul li{
    padding: 5% 0;
    border-bottom: 1px solid #e5e5e5;
    text-indent: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.mc-zx-block ul li:nth-child(3){
    border-bottom: 0;
}
.mc-zx-block ul li a{
    color: #474747;
}
.media,.policy{
    margin-top: 0;
}
.media ul li:nth-child(2){
    border-bottom: 0;
}
.dynamic ul li:nth-child(2){
    border-bottom: 0;
}
.policy ul li:nth-child(1){
    border-bottom: 0;
}
.dynamic{
    margin-top: 0;
}
.atlas{
    width: 100%;
    padding-bottom: 10px;
}
.atlas .title{
    background: url(../../images/news-icon.png) no-repeat 5% center;
    background-size: 22px;
    font-size: 18px;
    text-indent: 30px;
    padding: 5% 5% 10px 5%;
}
.atlas-pusl{
    padding: 0 5% 5% 5%;
}
.border-al{
    border: 1px solid #C3C3C3;
    padding: 10px;
    border-radius: 5px;
    background: #fff;
}

/*--璧勮璇︽儏--*/
.news-block-info{
    padding: 5%;
    margin-top: 50px;
}
.news-title{
    font-size: 18px;
    line-height: 1.4;
    font-weight: bold;
}
.news-time{
    color: #9ABBA8;
    margin-top: 5px;
}
.news-text{
    width: 100%;
    padding-top: 10px;
    line-height: 1.6;
}
.news-text p{
    padding: 2% 0;
}
.news-text .bold{
    font-size: 16px;
    font-weight: bold;
    background: url(../../images/news-icon-left.png) no-repeat left 10px;
    background-size: 4px;
    padding-left: 10px;
    line-height: 1.4;
}

/*--鍚堜綔鍏辫耽--*/
.cooperation-picture{
    margin-top: 50px;
}
.cooper-block{
    padding: 5%;
}
.cooper-block ul{
    font-size: 0;
}
.cooper-block ul li{
    display: inline-block;
    padding: 5px 0;
    font-size: 16px;
    width: 50%;
    background: url(../../images/cooperation-dian.png) no-repeat left center;
    background-size: 10px;
    text-indent: 18px;
}
.supplier-shop{
    margin-top: 50px;
    padding: 7% 6%;
}
.white{
    background: #F8F8F8;
    margin-top: 0;
}
.supplier-shop dl{
    text-align: center;
}
.supplier-shop dl dt{
    width: 28%;
    margin: 0 auto;
}
.supplier-shop dd{
    margin-top: 20px;
}
.supplier-shop .name{
    font-size: 16px;
    line-height: 1.8;
}
/*iphone5*/
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px) {
    .supplier-shop .name{
        font-size: 14px;
        line-height: 1.8;
    }
}
/*iphone6*/
@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px){
    .supplier-shop .name{
        font-size: 16px;
        line-height: 1.8;
    }
}

/*iphone6 plus*/
@media only screen
and (min-device-width: 414px)
and (max-device-width: 736px){
    .supplier-shop .name{
        font-size: 17px;
        line-height: 1.8;
    }
}
.supplier-shop .name span{
    color: #757575;
    font-size: 13px;
}
.supplier-shop .links a{
    background: #6C97D6;
    border: 1px solid #5A8BD2;
    display: block;
    height: 40px;
    color: #fff;
    font-size: 16px;
    line-height: 40px;
    border-radius: 4px;
    text-decoration: none;
    width: 80%;
    margin: 0 auto;
}
.supplier-shop .links a:hover{
    background: #5A8BD2;
    text-decoration: none;
}
.supplier-shop .green a{
    background: #64BD89;
    border: 1px solid #5CB85C;
}
.supplier-shop .green a:hover{
    background: #5CB85C;
}
.supplier-shop .see a{
    color: #64BD89;
    text-decoration: none;
}
.supplier-shop .see a:hover{
    text-decoration: underline;
}
.cooperation-info{
    background: #383838;
    color: #A8A8A8;

}
.cooperation-info h4{
    font-size: 15px;
    font-weight: normal;
    color: #D6D6D6;
    margin: 0 6%;
    padding-top: 6%;
}
.cooperation-info ul{
    margin: 0 6%;
    border-bottom: 1px solid #575757;
    padding: 2% 0 6%;
}
.cooperation-info ul li{
    line-height: 1.8;
}
.cooperation-info ul li a{
    color: #A8A8A8;
}
